.section__conseiller__liste{
    width: 80%;
    margin: 0 auto;
}

.section__conseiller__liste h1{
    margin-top: 40px;
    margin-bottom: 70px;
    text-align: center;
    color: #8CBDB9;
    font-size: 2rem;
}

.card__picture{
    height: 200px;
    width: 200px;
      background-image: url("../images/conseiller/vendeur2-6230590f6ef9f138572730.jpeg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      margin: 50px auto; 
}

.card__picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

a {
    color: #000;
    text-decoration: none;
    list-style-type: none;
}

a:hover {
 color: black;
}

.card__conseiller{
    width: 280px;
    height: 450px;
    border: 1px solid #000;
    background : #fff;
    border-radius: 25px;
}

.tabulation{
    width: 85%;
    margin: 0 auto;
    margin-top: 170px;
}
